.caja{
  width: 300px;
  height: 300px;
  padding: 3rem 2rem 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: max-content;
}

.contenedor-lista{
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1080px;
  max-width: 1140px;
}

.nav-pages{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.activo,
.noActivo{
  background-color: rgb(255, 255, 255);
  padding: 1.5rem 2rem;
  border: none;
  border-radius: .5rem;
  transition: all 300ms;
  text-decoration: none;
  color: black;
  border: 2px solid #add8e6;
  background: transparent;
}
.activo{
  background-color: lightblue;
  cursor: not-allowed;
  border: 2px solid transparent;
}

@media (min-width: 550px) {
  .nav-pages{
    padding: 4rem 2rem;
  }
}