.caja__usuario{
  background-color: lightblue;
  padding: 3rem 2rem 4rem;
  min-width: 31.5rem;
  max-width: 31.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  gap: 2rem;
  transition: all 300ms;
}
.caja__usuario:hover{
  background-color: rgb(129, 182, 199);
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
}

.usuario__foto{
  background: gray;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}

.usuario__informacion{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}
.dato{
  font-size: 2rem;
  font-weight: 600;
}
.valor{
  font-size: 2rem;
  font-weight: normal;
  color: black;
}


@media (min-width: 450px) {
  .caja__usuario{
    min-width: 36rem;
    max-width: 36rem;
  }
  .caja__usuario:hover{
    transform: scale(1.05);
  }
}

hr{
  border: none;
  border-top: 0.1rem solid white;
}